.block {
  border: solid thin #dddddd;
  box-sizing: border-box;
}

.block__content {
  font-family: "Merriweather";
  font-size: clamp(1.5rem, 2.5vw, 2.1rem);
  padding: 6.5rem 6rem 4rem;
  box-shadow: 0 .2rem 3rem rgba(0,0,0,.1);
}

.question {
  font-size: 1.7rem;
}

li {
  list-style-type: none;
}

img {
  display: block;
  max-height: 38rem;
  max-width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem; 
}