.answer__form {
  border-top: .1rem solid var(--color-caption-border,#8f8f8f);
  margin: 1.5rem 0 2rem;
}

.button__container {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  background-color: #747a7e;
  border-radius: 2rem;
  box-shadow: none;
  color: white;
  height: 4rem;
  max-width: 17rem;
  min-width: 10rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

form {
  width: 100%;
}

label {
  cursor: pointer;
}
